.account-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin: 20px auto; 
    }
    .rectangle {
      width: 600px;
      height: 100px;
      background-color: rgb(87, 87, 87);
      display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center; 
      gap: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-align: center;
    }
    .squares {
      display: flex;
      gap: 60px;
      justify-content: center;
    }
    .square {
      width: 140px;
      height: 140px;
      background-color: rgb(87, 87, 87);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-align: center;
    }
    .label {
      font-size: 16px;
    }
    .value {
      margin-top: 10px;
      font-size: 14px;
    }
