<div class="account-info">
    <!-- Rectangle -->
    <div class="rectangle">
      <div class="name" id="name-info">Name</div>
      <div class="address" id="address-info">Address</div>
    </div>
  
    <!-- Container for squares -->
    <div class="squares">
      <div class="square">
        <div class="label">WND</div>
        <div class="value" id="balance-free-WND-info">Balance free WND</div>
        <div class="value" id="balance-reserved-WND-info">Balance reserved WND</div>
      </div>
      <div class="square">
        <div class="label">UCOCO</div>
        <div class="value" id="balance-UCOCO-info">Balance UCOCO</div>
      </div>
      <div class="square">
        <div class="label">COCOUSD</div>
        <div class="value" id="balance-COCOUSD-info">Balance COCOUSD</div>
      </div>
    </div>
</div>

<!-- Liquidate account button -->
<button class="button-liquidate" id="button-liquidate">Liquidate Account</button>

<!-- Liquidate account box -->
  <div class="liquidate-box" id="liquidate-box">
    <h2 class="lb-title">Liquidate Account</h2>
    <hr class="lb-divider">
    <input class="lb-input" type="text" id="lb-input-recipient" spellcheck="false" autocomplete="off" placeholder="Enter recipient Polkadot address">
    
    <div class="lb-button-row">
      <button class="lb-button-cancel" id="lb-button-cancel">Cancel</button>
      <button class="lb-button-transfer" id="lb-button-transfer">Transfer</button>
    </div>
  </div>