<div class="button-container">
  <!-- Sección del botón verde -->
  <div class="button-wrapper">
    <p class="button-note">New here? Download an example to get started.</p>
    <a href="/LiebrePay_MPayment_Example.csv" class="button button-download" download>
      📥 Download .csv Example
    </a>
  </div>

  <!-- Sección del botón azul -->
  <div class="button-wrapper">
    <p class="button-note">Upload your Multi payment file in seconds.</p>
    <button class="button button-upload" id="select-csv-button" disabled>
      📤 Upload .csv File
    </button>
  </div>
</div>

<input type="file" id="csvFileInput" accept=".csv" style="display: none;">