<p class="custom-paragraph" id="history-message">loading...</p>

<div class="ph-container" id="ph-container">
  <div class="top-bar">
    <div class="total-payments-display" id="total-payments-display">Total payments:</div>
  </div>

  <ul id="transferList" class="transfer-list"></ul> 

  <div class="pagination" id="pagination">
    <button class="page-button" id="prev-page-btn" disabled>Previous</button>
    <span class="page-display" id="page-display">loading...</span>
    <button class="page-button" id="next-page-btn">Next</button>
  </div>
</div>