<p class="custom-paragraph" id="history-message">loading...</p>

<div class="ph-container" id="ph-container">
  <div class="top-bar">
    <div class="total-payments-display" id="total-payments-display">Total payments:</div>
  </div>

  <ul id="transferList" class="transfer-list"></ul> 

  <div class="pagination" id="pagination">
    <button class="page-button" id="prev-page-btn" disabled>Previous</button>
    <span class="page-display" id="page-display">loading...</span>
    <button class="page-button" id="next-page-btn">Next</button>
  </div>
</div>

<!-- Payment detail box -->
  <div class="payment-detail-box" id="payment-detail-box">
    <h2 class="detail-title">Payment Detail</h2>
    <hr class="detail-divider">
    <p class="info-item" id="payment-hash">Payment hash: Not Available</p>
    <p class="info-item" id="date-info">Date: Not Available</p>
    <p class="info-item" id="from-address-info">From Address: Not Available</p>
    <p class="info-item" id="to-address-info">To Address: Not Available</p>
    <p class="info-item" id="amount-info">Paid Amount: Not Available</p>
    <p class="info-item" id="fee-info">Network fee paid: Not Available</p>
    <p class="info-item" id="result-info">Payment result: Not Available</p>
    <hr class="detail-divider">
    <button class="button-close-detail" id="close-detail-box">Close</button>
  </div>