        <div class="input-group">
          <input type="text" id="destination-wallet" placeholder="Enter beneficiary Polkadot address" spellcheck="false" autocomplete="off">
        </div>
        <div class="input-group">
          <input type="number" id="amount" placeholder="Enter amount" min="0">
        </div>
        <div class="balance-display" id="balance-display">Balance free:</div>
        <div class="select-group">
          <label for="currency">Currency:</label>
          <select id="currency">
            <option value="WND">WND</option>
            <option value="UCOCO">UCOCO</option>
            <option value="COCOUSD">COCOUSD</option>
          </select>
        </div>
        </div>
        <div class="button-container">
          <button class="button-send" id="button-single-payment">Pay</button>
          <button class="aux-connect" id="aux-connect-1">Connect Wallet</button>
        </div>
